Debug
src/autom4te.cache
src/aclocal.m4
src/AUTHORS
src/ChangeLog
src/config.guess
src/config.h.in
src/config.sub
src/configure
src/COPYING
src/depcomp
src/INSTALL
src/install-sh
src/Makefile.in
src/missing
src/NEWS
src/README
src/config.h
src/config.log
src/config.status
src/Makefile
src/Makefile.am
src/Makefile.in
src/missing
src/NEWS
src/README
src/stamp-h1

*.Po

*.in

*.o

*.a

src/SocketBuilder/Makefile
